extends layout 
 
block content 
  #banner.page-header 
    .row 
      .col-md-6.col-sm-12 
       
  .row 
    .col-md-6.col-sm-12 
      form(action="/submit_review", method="POST") 
      label(for="name") Name :  
      input(type="text", id="name", name="name", required) 
      br 
      label(for="email") Email :  
      input(type="email", id="email", name="email", required) 
      br 
      label(for="age") Age(1-80) :  
      input(type="number", id="age", name="age", min=1, max=80, required) 
      br 
      label(for="blood-type") Blood-Type:  
      textarea(id="Diagnosis", name="Diagnosis", rows=1, cols=1, required) 
      br 
      input(type="submit", value="Submit")