extends layout
block content
 .row.banner
 .col-12
 h1= title
 .row
 .col-12.col-lg-8
 p
 | SWASTHYA was created to help people find Hospitals with premium Treatment
 | <br /><br />
 | The main mottos of swasthya are
 |<br /><br />
 |1. "Health is Wealth"-Emphasizing the importance of health for a fulfilling life.
 |<br /><br />
 |2."Prevention is Better than Cure" -Advocating for preventive health measures.
 |<br /><br />
 |3."Empowering Communities for Better Health"- Focusing on community involvement in health initiatives.
 |<br /><br />
 |4."Promoting Holistic Well-being"-Addressing physical, mental, and social health.
 |<br /><br />
 |5."Your Health, Your Responsibility"-Encouraging individuals to take charge of their health.
 |<br /><br />
 |6."Access to Health for All"-Striving for equitable health access in communities.
 |<br /><br />

